.rida {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    text-align: right;
}

.rida li {
    display: inline-block;
    margin-left: 100px; 
    font-size: 25px;
}

.navbar a {
    box-shadow: inset 0 0 0 0 #1c1c1c;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 20px .25rem;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.bg_gradient {
    background-image: linear-gradient( 60deg,  rgb(51, 92, 72) 10%, rgb(17, 71, 61) 90%);
    height: 100vh;
}

.navbar {
    background-color: #000000; 
    padding: 20px; 
}

.navbar a:hover {
    box-shadow: inset 100px 0 0 0 #1c1c1c;
    color: white;
}

.pilt_mina {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suurus {
    width: 20%;
    height: auto;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

.minu_nimi {
    position: absolute; 
    top: 20%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    z-index: 0; 
    font-size: 50px;
    padding-left: 20px;
    color: white; 
}

.minu_nimi p {
    margin: 0;
}